<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <link rel="stylesheet" href="{% static 'inputs.css' %}">
    <style>
        body{
            background-color: #C0C0C0;
        }
        label{
            text-align: center;
            color: #2c3338;
        }
        button{
            background-color: #C0C0C0;
            height: 30px;
        }
        .bodydiv{
            margin: 50px;
            text-align: center;
        }
        body form{
            margin-top: 15%;
        }
        .bodydiv2{
            margin: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#books">Books</a>
        <a href="#highlights">Highlights</a>
        <a href="#about">About</a>
        <div class="end">
            <a href="#login">Login</a>
            <a href="#logout">Logout</a>
        </div>
    </div>
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <div class="bodydiv">
            <input type="email" name="email" id="email" class="input" placeholder="mail adresi giriniz" required>
        </div>
        <div class="bodydiv">
            <input type="password" name="password" id="password" class="input" placeholder="şifre giriniz">
        </div>
        <div class="bodydiv">
            <button type="submit" class="button-85">Giriş Yap</button>
        </div>
    </form>
    <form action="{% url 'regpage' %}" method="post">
        {% csrf_token %}
        <div class="bodydiv2">
            <button type="submit" class="button-85">Hesabın yok mu? Kayıt Ol</button>
        </div>
    </form>
    
</body>
</html>


